main {
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

body {
    background-color: #f3fafb; /* רקע בהיר */
    color: #000; /* טקסט כהה */
    transition: background-color 0.3s, color 0.3s; /* מעבר חלק */
}

header {
    background-image: url('../images/BGhead.svg'); /* נתיב לתמונת רקע */
    background-size: cover; /* כיסוי מלא של הרקע */
    background-position: center; /* מיקום התמונה במרכז */
    background-repeat: no-repeat; /* מניעת חזרת התמונה */
    height: 30%; /* גובה קבוע */
    display: flex;
    color: midnightblue; /* צבע טקסט */
    flex-direction: column;
    justify-content: center; /* יישור אנכי למרכז */
    align-items: center; /* יישור אופקי למרכז */
    text-align: center;
    padding: 2rem; /* ריווח פנימי */
}

.mainArea {
    padding-top: 4rem;
}

/* סגנון נבר בהיר */
.navbar {
    background-color: #ffffff;
    color: #000;
}

/* מצב כהה */
body.dark-mode {
    background-color: #121212; /* רקע כהה */
    color: #ffffff; /* טקסט בהיר */
}

/* סגנון נבר במצב כהה */
body.dark-mode .navbar {
    background-color: #333333;
    color: #ffffff;
}

.navbar-nav .nav-link {
    color: #142c27;
    font-size: 1.4rem;
    transition: color 0.3s; /* מעבר חלק בעת החלפת מצב */
}

body.dark-mode .navbar-nav .nav-link {
    color: #ffffff;
}

.row {
    justify-content: space-evenly;
    margin-top: 2rem;
}

/* עיצוב כרטיסיות */
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #fff;
    transition: background-color 0.3s ease, transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}

.card img {
    width: 100%; /* התאמת רוחב התמונה לכרטיס */
    height: 180px; /* גובה קבוע */
    object-fit: cover; /* שמירה על יחס גובה-רוחב נכון */
    border-radius: 5px; /* פינות מעוגלות */
    margin-bottom: 1rem; /* ריווח תחתון קטן */
}

.card:hover {
    transform: scale(1.05); /* הגדלה קלה בעת מעבר עכבר */
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}

body.dark-mode .card {
    background-color: #1e1e1e; /* רקע כרטיס במצב כהה */
    color: #ffffff;
}

/* אזור חיפוש */
.searchArea {
    margin-top: 2.7rem !important;
    margin-bottom: 0.7rem !important;
}

/* כפתור גלילה למעלה */
.scroll-to-top {
    position: fixed;
    bottom: 2vw;
    right: 1vw;
    display: none; /* מוסתר כברירת מחדל */
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    font-size: 1.5rem;
    text-align: center;
    line-height: 50%;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000; /* ודאות שהכפתור יהיה עליון */
    transition: background-color 0.3s, transform 0.3s ease;
}

.scroll-to-top:hover {
    background-color: #0056b3;
    transform: scale(1.1); /* הגדלה קלה בעת מעבר עכבר */
}

body.dark-mode .scroll-to-top {
    background-color: #333333;
    color: #ffffff;
}

.scroll-to-top:hover {
    background-color: #444444;
}

/* כפתור מצב כהה/בהיר */
#themeToggleBtn {
    position: relative;
    top: 0rem;
    left: 44%;
    z-index: 1000; /* מבטיח שהכפתור יהיה מעל כל האלמנטים */
    padding: 0.5rem 1rem;; /* ריווח פנימי */
    background-color: #f8f9fa; /* צבע רקע */
    border: 1px solid #ddd; /* גבול */
    border-radius: 5px; /* עיגול קל של הפינות */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* הצללה */
    transition: background-color 0.3s, color 0.3s; /* מעבר חלק */
}

#themeToggleBtn:hover {
    background-color: #e2e6ea; /* רקע בעת מעבר עכבר */
    cursor: pointer; /* סמן מצביע */
    color: #1c1414; /* טקסט במצב כהה */
}

body.dark-mode #themeToggleBtn {
    background-color: #333; /* רקע במצב כהה */
    color: #fff; /* טקסט במצב כהה */
}

body.dark-mode #themeToggleBtn:hover {
    background-color: #444; /* רקע בעת מעבר עכבר במצב כהה */
}

.btnC{
    background-color: #0086b0;
    color: white;
}

.btnC:hover{
    background-color: #185867;
    color: white;
    
}

.SBtn{
    background-color: #057091;
    color: white;
    width: 5rem;
}
.SBtn:hover{
    color: #212529;
    background-color: #99bec9;

}

/* הגדרות למכשירים בעלי רוחב מסך מינימלי */
@media only screen and (min-width: 768px) {
    main {
        padding-top: 5rem;
    }

    .card {
        width: 17%;
    }
    .SBtn{
        background-color: #057091;
        color: white;
        width: 7rem;
    }

    #themeToggleBtn {
      
        top: 0rem;
        left: 75rem;
   
    }
    
}
